* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
font-family: 'Manrope', sans-serif;
background-color: hsl(218, 23%, 16%);
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.card {
background-color: hsl(217, 19%, 24%);
max-width: 540px;
width: 90%;
padding: 40px 30px 70px;
border-radius: 15px;
text-align: center;
position: relative;
}

.advice-number {
color: hsl(150, 100%, 66%);
letter-spacing: 3px;
font-size: 14px;
margin-bottom: 25px;
}

#advice-text {
color: hsl(193, 38%, 86%);
font-size: 28px;
margin-bottom: 40px;
}

.divider img {
width: 100%;
}

button {
position: absolute;
bottom: -30px;
left: 50%;
transform: translateX(-50%);
background-color: hsl(150, 100%, 66%);
border: none;
width: 60px;
height: 60px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}

button:hover {
cursor: pointer;
box-shadow: 0 0 30px hsl(150, 100%, 66%);
}

button img {
width: 24px;
height: 24px;
}
